<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SMS CONNECT | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bower_components/Ionicons/css/ionicons.min.css">
    <link href="~/Content/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/css/_Layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.css">
    <link href="~/Content/css/Slider.css" rel="stylesheet" />
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect. -->
    <link rel="stylesheet" href="Content/dist/css/skins/skin-yellow.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/timepicker/bootstrap-timepicker.js"></script>
    <script src="~/Content/dist/js/jquery.validate.min.js"></script>
    <script src="~/Content/dist/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/dist/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/dist/js/respond.min.js"></script>


    <!-- Bootstrap 3.3.7 -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <script src="~/Content/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
    <script src="~/Content/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>

    <script src="~/Scripts/_Layout.js"></script>

    <script src="~/Content/dist/js/html5shiv.min.js"></script>
    <script src="~/Content/dist/js/respond.min.js"></script>
    <!-- Google Font -->

</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-yellow sidebar-mini fixed">
    <div class="transparent-background" hidden>

    </div>
    <div class="wait">
        <img src="~/loader/ajax-loader.gif" />
    </div>
    <div class="wrapper">


        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a class="logo" href="http://localhost:10254/Main">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                @*<span class="logo-mini"><b>S</b>GS</span>*@
                <!-- logo for regular state and mobile devices -->
                <img src="~/Images/SMSConnect.png" style="width: 200px; height: auto;padding: 7px 7px 10px 10px; cursor: pointer;">
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        @*<li class="dropdown messages-menu">
                              <!-- Menu toggle button -->
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                              </a>
                              <ul class="dropdown-menu animated-dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                  <!-- inner menu: contains the messages -->
                                  <ul class="menu">
                                    <li><!-- start message -->
                                      <a href="#">
                                        <div class="pull-left">
                                          <!-- User Image -->
                                          <img src="Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <!-- Message title and timestamp -->
                                        <h4>
                                          Support Team
                                          <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <!-- The message -->
                                        <p>Why not buy a new awesome theme?</p>
                                      </a>
                                    </li>
                                    <!-- end message -->
                                  </ul>
                                  <!-- /.menu -->
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                              </ul>
                            </li>*@
                        <!-- /.messages-menu -->
                        <!-- Notifications Menu -->
                        @if (Session["level"].ToString() != "5")
                        {
                            <li class="dropdown notifications-menu" style="cursor:pointer">
                                <!-- Menu toggle button -->
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    @*<span class="label label-danger">0</span>*@
                                </a>
                                <ul class="dropdown-menu animated-dropdown-menu">
                                    <li class="header">Notifications</li>
                                    <li>
                                        <!-- Inner Menu: contains the notifications -->
                                        <ul class="menu">
                                            <li>
                                                <!-- start notification -->
                                                <a>
                                                    <i class="text-aqua"></i> No new notifications
                                                </a>
                                            </li>
                                            <!-- end notification -->
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">View all</a></li>
                                </ul>
                            </li>
                        }
                        <!-- Tasks Menu -->
                        @*<li class="dropdown tasks-menu">
                              <!-- Menu Toggle Button -->
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                              </a>
                              <ul class="dropdown-menu animated-dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                  <!-- Inner menu: contains the tasks -->
                                  <ul class="menu">
                                    <li><!-- Task item -->
                                      <a href="#">
                                        <!-- Task title and progress text -->
                                        <h3>
                                          Design some buttons
                                          <small class="pull-right">20%</small>
                                        </h3>
                                        <!-- The progress bar -->
                                        <div class="progress xs">
                                          <!-- Change the css width attribute to simulate progress -->
                                          <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                               aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                            <span class="sr-only">20% Complete</span>
                                          </div>
                                        </div>
                                      </a>
                                    </li>
                                    <!-- end task item -->
                                  </ul>
                                </li>
                                <li class="footer">
                                  <a href="#">View all tasks</a>
                                </li>
                              </ul>
                            </li>*@
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu" style="cursor:pointer">
                            <!-- Menu Toggle Button -->
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="Content/dist/img/user-icon.png" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">@Session["Username"].ToString()</span>
                            </a>
                            <ul class="dropdown-menu animated-dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="~/Content/dist/img/user-icon.png" class="img-circle" alt="User Image">

                                    <p>
                                        @((string)Session["Username"])
                                        @if ((string)Session["level"] == "1")
                                        {
                                            <small>Administrator</small>
                                        }

                                    </p>
                                </li>
                                <!-- Menu Body -->
                                @*<li class="user-body">
                                        <div class="row">
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Followers</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Sales</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Friends</a>
                                            </div>
                                        </div>
                                    </li>*@
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <button class="btn btn-default btn-flat btn-change-password">Change Password</button>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("Logout", "Home")" class="btn btn-default btn-flat btn-logout">Logout</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        @*<li>
                                <a data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>*@
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar Menu -->
                @if ((string)Session["level"] != "5")
                {
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="header">MENU</li>
                        <!-- Optionally, you can add icons to the links -->
                        <li class="active"><a><i class="fa fa-dashboard"></i><span> Dashboard</span></a></li>
                        <li><a><i class="fa fa-users"></i><span> Clients</span></a></li>
                        <li><a><i class="fa fa-id-card"></i><span> Applications</span></a></li>
                        <li><a><i class="fa fa-money"></i><span> SMS Purchases</span></a></li>
                        <li class="treeview">
                            <a class="parent">
                                <i class="fa fa-line-chart"></i><span> Report</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a><i class="fa fa-link"></i><span> Outgoing</span></a></li>
                                <li><a><i class="fa fa-address-book-o"></i><span> Statement</span></a></li>
                                <li><a><i class="fa fa-cart-arrow-down"></i><span> Refill</span></a></li>
                                <li><a><i class="fa fa-file-text-o"></i><span> Consumer Report</span></a></li>
                                <li><a><i class="fa fa-file-text-o"></i><span>SMS Purchase Report</span></a></li>
                            </ul>
                        </li>
                    </ul>
                    if ((string)Session["level"] == "1")
                    {
                        <ul class="sidebar-menu admin-menu" data-widget="tree">
                            <li class="header">ADMINISTRATOR</li>
                            <!-- Optionally, you can add icons to the links -->
                            <li class="treeview">
                                <a class="parent">
                                    <i class="fa fa-gears"></i><span> Admin Pannel (<span class="notification"></span>)</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a><i class="fa fa-user"></i><span> User List</span></a></li>
                                    <li><a><i class="fa fa-check"></i><span> Pending Approval (<span class="notification"></span>)</span></a></li>
                                    <li><a><i class="fa fa-user"></i><span> Supplier List</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="header">CLIENT PORTAL</li>
                        <li class="active"><a><i class="fa fa-dashboard"></i><span> Dashboard</span></a></li>
                        <li class="treeview">
                            <a class="parent">
                                <i class="fa fa-line-chart"></i><span> Report</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a><i class="fa fa-link"></i><span> Outgoing</span></a></li>
                                <li><a><i class="fa fa-address-book-o"></i><span> Statement</span></a></li>
                            </ul>
                        </li>
                    </ul>
                }
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <ol class="breadcrumb">
                    <li><i class="fa fa-bars"></i> Menu</li>
                    <li class="active level-one"><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                </ol>
            </section>

            <!-- Main content -->
            <div class="content container-fluid">
                @RenderBody()
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                @*Anything you want*@
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; <a href="#">@System.Configuration.ConfigurationManager.AppSettings["Company"].ToString()</a>. </strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="pull-right-container">
                                        <span class="label label-danger pull-right">70%</span>
                                    </span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    <script src="~/Scripts/Client.js"></script>
    <script src="~/Scripts/OutgoingSMS.js"></script>
    <script src="~/Scripts/SMSPurchases.js"></script>
    <script src="~/Scripts/Saf.js"></script>
    <script src="~/Scripts/Consumer.js"></script>
    <script src="~/Scripts/Statement.js"></script>
    <script src="~/Scripts/SMSPurchaseReport.js"></script>
    <script src="~/Scripts/RefillReport.js"></script>
    <script src="~/Scripts/PreviousPage.js"></script>
    <script src="~/Scripts/Dashboard.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/HubFunctions.js"></script>
    <script src="~/Scripts/Supplier.js"></script>
    <div class="modal fade myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <div class="modal fade myModalLg" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content-lg">

            </div>
        </div>
    </div>
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. -->
</body>
</html>