@model SMSGateway.Models.Saf

@{
    var email = ViewBag.Email;
    var creatorid = ViewBag.CreatorId;
}
<div class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Approve User</h4>
    </div>
    <br />
    <div class="modal-body user-approval-modal-body">



        <div class="credentials">
            <table class="table table-striped">
                <tr>
                    <td>Username: </td>
                    <td>@Model.Username </td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td>@Model.Password </td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td>@Model.EmailId</td>
            </tr>
            @if (Model.Status == 1)
            {
                <tr>
                    <td>Status: </td>
                    <td>Active</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>Status: </td>
                    <td>Inactive</td>
                </tr>
            }
            <tr>
                <td>Contact: </td>
                <td>@Model.MobileNo</td>
            </tr>
                
        </table>
            
        @Html.HiddenFor(x => email)
    </div>
        <div>
            <label>Created By : </label>
            <span>&nbsp;  @ViewBag.CreatorId</span>
        </div>
        <div class="send-email">
            <input type="checkbox" class="sendmail-checkbox" value="Send-mail">
            <label> Do you Want to Send an Email to the user?</label>
        </div>
        <br />
        

    <div class="form-group">
        
        <input type="button" value="Approve" class="btn btn-warning col-md-offset-1 btn-send-mail-approve-user" />
        <input type="button" value="Cancel" class="btn btn-warning btnCancel" data-dismiss="modal" />
    </div>

    </div>
</div>
